div{
	// border: 1px solid red;
}
.container{
  position: relative;
  margin: 0 auto;
  //margin-left: 6.5%;
  margin-top: 4.5%;
  width: 75%;
 // border: 1px solid red;
}
.header{
	//border: 1px solid red;

}

.HeadPictures{
	//border: 1px solid red;
	margin-left: 1.6%;
	top: 80px;
}
.osoznano {
position: relative;
top: -25px;
//border: 1px solid red;	
}

.Eat{
	//border: 1px solid red;
	width: 20%;
	position: relative;
	float: left;
	top: 15px;
}

.EatImg{

}

.EatText {
	position: relative;
	width: 50%;
	top: 25px;
	margin: 0 auto;
}

.Sport{
	margin-left: 15%;
	//border: 1px solid red;
	width: 24.9%;
	position: relative;	
	float: left;
}

.SportImg{

}

.SportText{

	position: relative;
	width: 90%;
	top: 40px;


}

.Sorting{
	margin-left: 14%;
	//border: 1px solid red;
	width: 24.9%;
	position: relative;	
	float: left;
	top: 15px;
}

.SortingImg{

}

.SortingText{
	position: relative;
	width: 90%;
	margin: 0 auto;
	top: 25px;
}

.MainButton{
  position: relative;
  //border: 1px solid red;
  left: 15%;
  width: 70%;
  top: 80px;
}

.MainText{
position: relative;
top: 320px;
//border: 1px solid red;
}

.zagolovok{
position: relative;
//left: 0.68%;
//border: 1px solid red;
top: -20px;

}

.podzagolovok{
top: 95px;
position: relative;
//left: 0.68%;
//border: 1px solid red;

}

.information{
	position: relative;
	border: 1px solid red;
	top: 400px;
}

/*
.buttonSoobsit{
	position: absolute;
width: 753px;
height: 105px;
left: 557px;
top: 579px;
}
#podzagolovok{
	position: absolute;
width: 503px;
height: 75px;
left: 251px;
top: 969px;
}
#yoga{
	position: absolute;
width: 449px;
height: 464px;
left: 1121px;
top: 1162px;
}
#ration{
	position: absolute;
width: 634px;
height: 443px;
left: 242px;
top: 1176px;
}
#sort{
	position: absolute;
width: 659px;
height: 356px;
left: 591px;
top: 1805px;
}
#stress{
	position: absolute;
width: 1376px;
height: 762px;
left: 270px;
top: 2238px;
}
#footer{
	position: absolute;
width: 1694.66px;
height: 1008px;
left: 123px;
top: 3351px;
}
*/