  
}
.container {
margin: 0 auto;
width: 100%;
max-width: 1920px;
padding: 0 15px;
} 

}
img.DVIGAISYA {
      position: absolute;
      width: 420px;
      height: 309.38px;
      left: 711px;
      top: 176px;
      background: url(DVIGAISYA.png);
}

img.EAT {
      position: absolute;
      width: 325px;
      height: 289.43px;
      left: 325px;
      top: 117px;

      background: url(EAT.png);
      transform: matrix(-1, 0, 0, 1, 0, 0);
}

img.SORT{
      position: absolute;
      width: 421.49px;
      height: 320px;
      left: 1265px;
      top: 84px;

      background: url(SORT.png);
}


button.buttonUvedomit {
  
  display: inline-block;
  padding: 45px 160px; /* минимальный размер кнопки */
  font-size: 64px; /* размер текста */
  cursor: pointer; /* Курсор*/
  text-align: center; /* ориентация текста в кнопке */
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #C2966D; /* цвет верххней части кнопки */
  border: none;
  border-radius: 80px; /* радиус углов кнопки */
  box-shadow: 0 15px #4567; /* */
}

button.buttonUvedomit:hover {background-color: #3e8e41}

button.buttonUvedomit:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);  
}
button.buttonUvedomit{
position: absolute;
width:  945px;
height: 160px;
left: 487px;
top: 3661px;
}
button.displayed{
pposition: absolute;
width: 949px;
height: 156px;
left: 487px;
top: 841px;
}

#credits{
  /* © Project by Samsonova Maria © Artist Sashko (@sashkosha) */
      position: absolute;
      width: 413px;
      height: 70px;
      left: 282px;
      top: 4289px;

      font-family: times ;
      font-style: normal;
      font-weight: normal;
      font-size: 30px;
      line-height: 35px;

      color: #000000;

}
img.musor{
/* image 5 */
      position: absolute;
      width: 210.81px;
      height: 266px;
      left: 296px;
      top: 3385.73px;

      background: url(image.png);
      transform: rotate(-9.48deg);
}
img.rastenie{
/* image 5 */
      position: absolute;
      width: 392px;
      height: 415px;
      left: 123px;
      top: 3806.94px;

      background: url(image.png);
      transform: rotate(-7.91deg);
}
img.paket{
  /* image 3 */
      position: absolute;
      width: 356.67px;
      height: 469.9px;
      left: 1470.66px;
      top: 3715px;

      background: url(image.png);
      transform: rotate(13.37deg);
}
img.ovosch{
    position: absolute;
    width: 187px;
    height: 169px;
    left: 1204px;
    top: 3978px;

    background: url(image.png);
}
img.morkov{
    position: absolute;
    width: 180.09px;
    height: 233.79px;
    left: 711px;
    top: 4019.42px;

    background: url(image.png);
    transform: rotate(-76.94deg);
}
img.ration{
    position: absolute;
    width: 250px;
    height: 228px;
    left: 1373.96px;
    top: 3360px;

    background: url(Ration.png);
    transform: rotate(2deg);
}
hr {
/* Line 1 */

      position: absolute;
      width: 1815px;
      height: 0px;
      left: 53px;
      top: 4247px;

      border: 2px solid #000000;
      }

p.footer {
      position: absolute;
      width: 413px;
      height: 70px;
      left: 282px;
      top: 4289px;

      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 30px;
      line-height: 35px;

      color: #000000;

}
