body {
  	background-color: #FFF6F2; /* Цвет фона веб-страницы бирюзовый */
  	color: #000000; /* Цвет основного текста черный*/ 
}
h1 {
  	color: #537428; /* Цвет заголовка зеленый*/
  	font-size: 36pt; /* Размер шрифта в пунктах */
  	font-family: "Times New Roman", Times, serif; /* Шрифтов */
  	font-weight: bold; /* Нормальное начертание текста  */
  	text-align: center; /* Ориентация текста */
}

span.headText{
  font-family: 'Roboto', sans-serif;
  font-size: 55px;
  color: #3b1c02;

}

a.MainButton{

text-decoration: none;
font-family: Roboto;
font-size: 36px;
font-weight: bold;
color: #FFFFFF;
background: #3b1c02;
padding-bottom: 35px;
padding-right: 120px;
padding-left: 120px;
padding-top: 35px;
border-radius: 80px
}

a:hover.MainButton{

text-decoration: none;
font-family: Roboto;
font-size: 36px;
font-weight: bold;
color: #abd476;
background: #3b1c02;
padding-bottom: 35px;
padding-right: 120px;
padding-left: 120px;
padding-top: 35px;
border-radius: 80px
}



span.zagolovok{
font-family: Roboto;
font-style: normal;
font-weight: bolder;
font-size: 126px;
line-height: 152px;
letter-spacing: 0.01em;

color: #537428;
}

span.podzagolovok{
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 64px;
color: #3b1c02;
}

